/*--------------------------------------------------------------
# THEME COLORS
--------------------------------------------------------------*/
:root {
  --main-ef-color: #c04eb1;
  --hover-color: #a23973; 
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: "Didot";
  src: url(Didot_Regular.ttf);
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(inter.woff2) format('woff2');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}
body {
  overflow-x: hidden;
  width: 100vw;
  font-family: system-ui;
}
main{
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--main-ef-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

h1,h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: relative;
  display: flex;
  visibility: hidden;
  background: var(--main-ef-color);
  width: 35px;
  height: 0px;
  border-radius: 50px;
  right: -2.5px;
  
  transition: all 0.4s ;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
  visibility: hidden;
}
.back-to-top:hover {
  background: var(--hover-color);
  color: #fff;
  transform: scale(1.2);
}
.back-to-top.active {
  margin-top: 10px;
  visibility: visible;
  height: 35px;
  width: 35px;
  

}
.back-to-top.active  i  {
  visibility: visible;


}
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }

}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 10vh;
  background: rgba(0, 0, 0, 0.6);
  top: -1px;
  position: sticky;
  z-index: 2;

}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  /* align-items: center; */
}
.navbar li {

  position: relative;
  width: 100%;
  /* background: radial-gradient(#40323fa6, transparent); */
}
.navbar a {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: var(--main-ef-color);
}
.navbar .active, .navbar .active:focus > a {
  color: var(--main-ef-color);
}
.hovered:hover {
  color: var(--main-ef-color);
}

#navbarlist{
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(0px, -40px);
  left: 285px !important;
  z-index: 1;
  padding: 10px 10px;
  background: rgb(26 16 25 / 92%);
  box-shadow: 0px 25px 50px rgb(255 255 255 / 50%); 
  transition: all 0.5s;
  border-radius: 0px 50px 0px 25px;

}
#navbarlist.down{
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 40px);
}
.navlink{
  padding: 0.5rem 1rem;
}
.dropdown .navlink {
  font-size: 12px;

} 
.card-body a {
  padding: 0px;

}
.collapse .card-body a {
  margin-left: 5px;

}

.collapse .card-body a:hover {
  margin-left: 2px;
  color: var(--hover-color);

}
.card{
  background: rgb(38 12 35 / 28%);
  border: 1px solid rgba(77, 77, 77, 0.493);
}

.navbar .dropdown ul a {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #b9b9b9
}
.navbar .dropdown ul a:hover{
  color: #ffff !important;
  font-size: 14px;
}

 /* .navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
} */
 /*.navbar .dropdown  ul {
  top: 0;
  left: calc(100% - 30px); 
  visibility: hidden; 
}*/
/* .navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}  */

.collapse{
  align-items: flex-start;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
#serv{
  display: none;
}
.noscroll{
  overflow: hidden;
  height: 100%;
}


@media screen and (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  #header {
    position: relative;
    background: #000000b8;
  }
  #serv3 {
    display: none;
  }
  .opinion-btn,.img-logo {
    visibility: hidden;
  }
  #serv{
    display: block;
  }
  .navbar ul {
    visibility: visible;
    opacity: 0;
    position: fixed;
  }
  .navbar li{
    background: none;
  }
  .img-hero{
    position: relative !important;
  }
}
.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 28, 28, 0.9);
  transition: 0.3s;
  /* z-index: 999; */
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
} 
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  visibility: visible;
  opacity: 1;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #353535;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: var(--main-ef-color);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: var(--main-ef-color);
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  height: calc(90vh + 1px);
  background-size: cover;
  position: relative;
}
.carousel1 {
  z-index: -1;
  height: 100vh;
  position: fixed;
}

.carousel-img-1,.carousel-img-2,.carousel-img-3{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;

  
}
.carousel-img-1 {
  content:url("../img/bg-1.jpg");
}
.carousel-img-2 {
  content:url("../img/bg-2.jpg");
}
.carousel-img-3 {
  content:url("../img/bg-3.jpg");
}
.carousel-item .active{
  height: 100%;
  width: 100% ;
}

.carousel-inner{
  height: 100%;
  width: 100%;
}


#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--main-ef-color);
  color: #fff;
}
#hero .btn-get-started:hover {
  background: var(--main-ef-color);
}

.img-logo {
  position: absolute;
  left: -200px;
  transition: all 0.4s;
}
.img-logo img{
  height: 10vh;
  top: -1px;
  

  /* position: absolute;
  top: -100vh; */
}
.img-hero {
  position: sticky;
  top: 0;
  z-index: 1;
}
.img-hero img{
  position: absolute;
  top: 10px;
  left: 0px;
  height: 155px;
  transition: all 0.4s;
}
@media screen and (min-width: 2561px) {
  #hero {
    height: 50vh;
  }
  #header, .img-logo img {
    height: 5vh;
  } 
} 
@media screen and (min-width: 5464px) {
  #hero {
    height: 30vh;
  }
  
} 

@media screen and (max-width: 1100px) and (max-height:550px){
  #logo{
    height: 100px;
  }
}

@media screen and (max-width: 768px) {

#cont-rev {
    display: none;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  
}

@media screen and (max-width: 429px) {
  #hero h1 {
    font-size: 25px;
  }
  #hero h2 {
    font-size: 14px;
  }
  #hero a {
    font-size: 14px;
  }
}
@media screen and (max-width: 387px) {
  #hero h1 {
    font-size: 20px;
  }
}
@media screen and (max-height: 450px) {
#hero h2 {
  margin-bottom: 0px;
  }
}

 @media only screen and (orientation: portrait) {
  #facebook{
    right: 50px !important;
    top: 5px;
  }
  .whtsp1 {
    visibility: hidden;
  }
  #logo{
    height: 80px;
  }
  .portrait{
  right: 25px;
  top: 15px;
  width: 40px;
}

} 

@media only screen and (orientation: landscape) {
  .whtsp1 {
    visibility: visible;
    
  }

} 


@media screen and (max-width: 315px) {
  #body  {
    display: none;
  }
}

@media screen and (max-height: 315px) {
  #body  {
    display: none;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #f3f8ec;
  color: var(--main-ef-color);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}
.section-title h3 span {
  color: var(--main-ef-color);
}
.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .box-heading h4 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0 0 15px 0;
  background: #f3f8ec;
  color: var(--main-ef-color);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
.about .box-heading h3 {
  font-size: 28px;
  font-weight: 700;
  color: #353535;
  margin-bottom: 15px;
}
.about .icon-box {
  margin-top: 40px;
  
}
.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #3f0429;
  border-radius: 50px;
  transition: 0.5s;
}
.about .icon-box .icon i {
  color: var(--main-ef-color);
  font-size: 32px;
}
.about .icon-box:hover .icon {
  
  background: #d2187580;
  border-color: var(--main-ef-color);
  
}
.about .icon-box:hover .icon i {
  color: #fff;
}
.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}
.about .icon-box .title a:hover {
  color: var(--main-ef-color);
}
.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}
.about .video-box {
  background: url("../img/about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
}
.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--main-ef-color) 50%, rgba(192, 78, 186, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  /* z-index: 100; */
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(169, 78, 192, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.about .play-btn:hover::after {
  border-left: 15px solid var(--main-ef-color);
  transform: scale(20);
}
.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  /* z-index: 200; */
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #fff;
  padding: 0 0 60px 0;
}
.counts .counters span {
  font-size: 48px;
  display: block;
  color: var(--main-ef-color);
}
.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.7)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
  height: 500px;
  display: flex;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.cta .cta-btn:hover {
  background: var(--main-ef-color);
  border: 2px solid var(--main-ef-color);
}
.container.aos-init.aos-animate {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  padding-bottom: 40px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #efefef;
  border-radius: 50px;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: var(--main-ef-color);
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}
.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  /* z-index: 3; */
  transition: all ease-in-out 0.3s;
  background: var(--main-ef-color);
  padding: 15px 20px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-item .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: white;
  transition: ease-in-out 0.3s;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #d6e8bf;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 15px;
}
.portfolio .portfolio-item:hover img {
  top: -30px;
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--main-ef-color);
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-ef-color);
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(53, 53, 53, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: var(--main-ef-color);
  float: left;
  width: 44px;
  height: 44px;
  background: #f3f8ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #353535;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #686868;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: url("../img/footer-bg.jpg") fixed center center;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  position: relative;
  
  
}
#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.75);
  /* z-index: 1; */
}
#footer .footer-top {
  position: relative;
  /* z-index: 2; */
  text-align: center;
  padding: 40px 0;
}
#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}
#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 20px 0 0 0;
  padding: 0;
}
#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: var(--main-ef-color);
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: var(--hover-color);
}
#footer .footer-top .social-links {
  margin-top: 30px;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--main-ef-color);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: var(--hover-color);
  color: #fff;
  text-decoration: none;
}
#footer .footer-bottom {
  border-top: 1px solid #282828;
  /* z-index: 2; */
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer .copyright {
  text-align: center;
  float: left;
  margin-right: 40px;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  margin-right: 20px;
}

@media only screen and (max-width:767px) {
  #footer .credits {
    float: left;
    margin-top: 5px;
    text-align: center;

}}


/* Hide */
.hide{
  visibility: hidden;
  display: none !important;
}



/* REVIEW PANEL*/

.top-review {
  
  overflow-x: hidden;
}

.container-reviews {
  display: block;
  position: relative;
  margin: auto;
  top: 0;
  width: 67%;
  display: block;
  border: 1px solid #868686 ;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.containreview{
  overflow-x: hidden;
  overflow-y: auto;
  height: 330px; 
}

.opinion-btn{
  background-color: #1a73e8;
    border: 1px solid #1a73e8;
    border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    top: 30px;
    right: 30px;
    position: absolute;
}

.opinion-txt{
  color: white;
}
.opinion-txt:hover{
  text-decoration: underline;
  color: white;
}

/* SCROLL BAR LIKE GOOGLE*/
.googlestyle::-webkit-scrollbar-track
{	
	background-color: none
}

.googlestyle::-webkit-scrollbar
{	width: 9px;
}

.googlestyle::-webkit-scrollbar-thumb
{	  background-color: #dadce0;
    border: 1px solid #dadce0;
    border-radius: 0;
    border-right: 0;
}

/*END REVIEW PANEL*/

.rowicon{
  position: fixed;
  z-index: 2;
}

.landscape{
  right: 25px;
  bottom: 15px;
  width: 40px;
  visibility: visible;
}
.top-zindex{
  z-index: 3 !important;
}
#facebook{
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  margin-right: 25px;
  margin-top: 10px;
  background: url("../img/icons/facebook.png");
  background-size: contain;
  transition: all .4s;
}

#whatsapp{
  position: relative;
  width: 40px;
  height: 40px;
  background: url("../img/icons/whatsapp.png") ;
  background-size: contain;
  transition: all .4s;
  display: block;

}

#whatsapp:hover,#facebook:hover{
  -webkit-filter: drop-shadow(0px 10px 10px var(--hover-color));
  filter: drop-shadow(0px 10px 10px var(--hover-color));
  transform: scale(1.2);
}